<html>
<head>
<h2>MyGoogleMap</h2>

<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyC2yxk59BzytEZwNKI_QmO9J0wgWr0ZJrw&sensor=FALSE">
</script>

<script>
var map;
<<<<<<< HEAD
var TokyoJson = new google.maps.LatLng("37.230328,139.394531");
=======
var Tokyo = new google.maps.LatLng("37.230328,139.394531");
>>>>>>> b4ad7e63d8dacccfbccdb85ecc692f80717d7547

// Add a Home control that returns the user to Tokyo
function HomeControl(controlDiv, map) {
  controlDiv.style.padding = '5px';
  var controlUI = document.createElement('div');
  controlUI.style.backgroundColor = 'yellow';
  controlUI.style.border='1px solid';
  controlUI.style.cursor = 'pointer';
  controlUI.style.textAlign = 'center';
  controlUI.title = 'Set map to Tokyo';
  controlDiv.appendChild(controlUI);
  var controlText = document.createElement('div');
  controlText.style.fontFamily='Arial,sans-serif';
  controlText.style.fontSize='12px';
  controlText.style.paddingLeft = '4px';
  controlText.style.paddingRight = '4px';
  controlText.innerHTML = '<b>Home<b>'
  controlUI.appendChild(controlText);

  // Setup click-event listener: simply set the map to Tokyo
  google.maps.event.addDomListener(controlUI, 'click', function() {
    map.setCenter(Tokyo)
  });
}


function initialize(lng) {
      var mapDiv = document.getElementById('googleMap');
      var myOptions;
      if(!lng){
           
          myOptions = TokyoJson
	  var TokyoJson = new google.maps.LatLng("37.230328,139.394531");
/*{
              zoom: 5,
              center: Tokyo,
              mapTypeId: google.maps.MapTypeId.ROADMAP
          }*/
	console.log(document.getElementById('LNG').value);
      }else {
          
      }
      map = new google.maps.Map(mapDiv, myOptions);
      // Create a DIV to hold the control and call HomeControl()
      var homeControlDiv = document.createElement('div');
      var homeControl = new HomeControl(homeControlDiv, map);
      //homeControlDiv.index = 1;
      map.controls[google.maps.ControlPosition.TOP_RIGHT].push(homeControlDiv);
}


google.maps.event.addDomListener(window, 'load', initialize);

function addrSearch(){
      var lngObj=document.getElementById("LNG").value;
      console.log(lngObj);
      var myOptions = {
          zoom: 5,
          center: lngObj,
          mapTypeId: google.maps.MapTypeId.ROADMAP
      }

//  map
}
</script>
</head>

<body>
<div id="googleMap" style="width:500px;height:380px;"></div>
</div>
<form action = "#">
ADRESS: <input type="text" name="ADDRESS" value="Tokyo"><br>
CODE: <input type="text" name="CODE" value="1690051"><br>
LNG: <input type="text" name="LNG" value="37.230328,139.394531"><br>
<input type="submit" value="button" onclick="initialize(document.getElementById('LNG').value);">
</form>

<p>Click the "Submit" button and the form-data will be sent to  the server.</p>
</body>
</html>
